.row
  .col-md
    %h1
      %i.fa.fa-unlock-alt
      Admin Zone
      %small
        %i.fa.fa-angle-double-right.fa-xs
        Profiles
  .col-md.text-right-md.align-bottom
    = link_to new_admin_cert_profile_path, class: "btn btn-light" do
      %i.fa.fa-user-plus
      Create Profile

%table.table.table-hover
  %thead
    %tr
      %th Name
      %th
  %tbody
    - @profiles.each do |profile|
      %tr
        %td= profile.name
        %td
          = link_to edit_admin_cert_profile_path(profile), class: "btn" do
            %i.fa.fa-edit
            Edit Profile

          = link_to admin_cert_profile_path(profile), class: "btn", data: {method: "delete"} do
            %i.fa.fa-trash
            Destroy Profile
