<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cert_profile.name %>
</p>

<%= link_to 'Edit', edit_cert_profile_path(@cert_profile) %> |
<%= link_to 'Back', cert_profiles_path %>
