fieldset {
  margin-bottom: 2rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 1rem 2rem;

  legend {
    color: #495057;
    width: auto;
    margin: 0;
    padding: 0 1rem;
  }
}

form {
  .actions {
    margin-top: 2rem;
  }
}
