.cards.cards-space-between
  .cards
    .form-group.mb-0
      %input#select-all-authorities{:type => "checkbox"}
      %label{:for => "select-all-authorities"} All

    .btn-group
      %button.btn
        %i.fa.fa-pencil-alt
        Edit
      %button.btn
        %i.fa.fa-trash
        Delete

  .btn-group
    = link_to new_authority_path, class: 'btn btn-light' do
      %i.fa.fa-plus
      Create

.cards
  - @authorities.each do |authority|
    .authority
      %h1= authority.name
      = link_to "Open", authority, class: ""
      = link_to "Website", authority.website, class: ""
